<header>
    <div id="logoDiv">
        <img id="logo" src="icon-192.png" alt="Logo"/>
    </div>
    <div id="companyName">
        <h1 class="centre">QR Generator</h1>
    </div>
    <p class="authorLabel">By Dan Tierney</p>
</header>