<header>
    <div id="logoDiv">
        <image id="logo"></image>
    </div>
    <div id="companyName">
        <h1 class="centre">QR Generator</h1>
    </div>
    <p class="authorLabel">By Dan Tierney</p>
</header>