@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main-area">
        <div class="header">
            <HeaderSection />
        </div>
        <main>
            @Body
        </main>
    </div>
</div>