/** Home CSS File **/

#urlInput {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
}

#generatedQR {
    border: 1px solid green;
    padding: 10px;
    margin: 5px;
}

#QRGenerator {
    border: 1px solid blue;
    padding: 10px;
    margin: 5px;
}