.user-input[b-h2g9053k37] {
    display: flex;
    flex-direction: column;
}

.input[b-h2g9053k37] {
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}

.add-label[b-h2g9053k37] {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #00539F;
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

.add-label:hover[b-h2g9053k37] {
    background-color: white;
    color: #00539F;
    transition: 0.4s ease;
}

.label_sheet[b-h2g9053k37] {
    border: black solid 1px;
    /* Paper size set to A4 */
    width: 29.5cm; 
    height: 20.9cm;
    /* Sets page borders for printing */
    padding-top: 6mm;
    padding-right: 10.5mm;
    padding-bottom: 0;
    padding-left: 0;
    margin: 0;
}

.labelrow[b-h2g9053k37] {
    width: 100%;
    margin: 0;
    display: flex;
}

.label[b-h2g9053k37] {
    border: black solid 1px;
    /* Label size set to large label*/
    width: 14.4cm;
    height: 4cm;
    background-color: white;
}

.border[b-h2g9053k37] {
    border: red solid 1px;
}

.labelLeftInfo[b-h2g9053k37] {
    display: flex;
    border: black solid 1px;
    width: 3.85cm;
    height: 4cm;
    margin: 0;
    padding: 0;
} 

.labelBarcode[b-h2g9053k37] {
    height: 0.8cm;
    width: 3.2cm;
    margin: 0;
    padding: 0;
}

.productName[b-h2g9053k37] {
    height: 3.1cm;
    width: 3.85cm;
    padding: 0;
    margin: 0;
}

.barcode[b-h2g9053k37] {
    width: 3.2cm;
    height: 1cm;
}