@page "/"

<PageTitle>Home</PageTitle>
<!-- Header section -->
<header>
    <!-- Head Section -->
    <head>
        <title>QR Generator</title>
        <meta title="QR Generator"/>
    </head>

    <h1> Welcome to the QR Generator!</h1>

</header>
<body>

</body>