@page "/Labels"
<h2>Labels</h2>

<div class="user-input">
    <input class="input"    id="product-name"    @bind="productName"     placeholder="Product Name"/>
    <input class="input"    id="product-tpn"     @Bind="productTPN"      placeholder="Product TPN"/>
    <input class="input"    id="product-ean"     @Bind="productEAN"      placeholder="Product EAN"/>
    <input class="input"    id="product-price"   @Bind="productPrice"    placeholder="Product Price"/>
    
    <button class="add-label">Add Label</button>
</div>

<div class="output">
    
</div>

@code {

    // Input bindings
    private string productName;

    private string productTPN;

    private string productEAN;

    private string productPrice;

    private List<Product> products = new();

}