.user-input {
    display: flex;
    flex-direction: column;
}

.input {
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}

.add-label {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #00539F;
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

.add-label:hover {
    background-color: white;
    color: #00539F;
    transition: 0.4s ease;
}

.label_sheet {
    border: black solid 1px;
    /* Paper size set to A4 */
    width: 29.5cm; 
    height: 20.9cm;
    /* Sets page borders for printing */
    padding-top: 6mm;
    padding-right: 10.5mm;
    padding-bottom: 0;
    padding-left: 0;
    margin: 0;
}

.labelrow {
    width: 100%;
    margin: 0;
    display: flex;
}

.label {
    display: flex;
    border: 1px solid black;
    width: 14.4cm; /* Width of each label */
    height: 4cm; /* Height of each label */
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

.border {
    border: red solid 1px;
}

.labelLeftInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3.85cm; /* Adjust based on proportion */
    border: 1px solid green;
    padding: 5px;
    box-sizing: border-box;
}

.labelBarcode {
    height: 0.8cm;
    width: 3.2cm;
    margin: 0;
    padding: 0;
}

.productName {
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
}

.productPrice {
    margin-top: auto;
    margin-bottom:auto;
    padding: 5px;
    text-align: center;
    width: 10.55cm /* Adjust based on proportion */
}

.labelBarcode {
    height: 0.8cm; /* Adjust height */
    width: 100%; /* Ensure barcode fits the container */
    object-fit: contain;
}