@inject IJSRuntime JS;

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
<script src="js/labels.js"></script>

@page "/Labels"
<h2>Labels</h2>

<script src="js/labels.js"></script>

<div class="user-input">
    <input class="input" id="product-name" placeholder="Product Name" 
           @oninput="e => UpdateInput(e, nameof(productName))" />
    
    <input class="input" id="product-tpn" placeholder="Product TPN" 
           @oninput="e => UpdateInput(e, nameof(productTPN))" />
    
    <input class="input" id="product-ean" placeholder="Product EAN" 
           @oninput="e => UpdateInput(e, nameof(productEAN))" />
    
    <input class="input" id="product-price" placeholder="Product Price" 
           @oninput="e => UpdateInput(e, nameof(productPrice))" />
    
    <button class="add-label" @onclick="AddLabel">Add Label</button>
</div>

<div class="output">
    <div class="label-container">
        @if (_products.Any())
        {
            @foreach (var product in _products)
            {
                <div class="label">
                    <h2 class="productName">@product.productName</h2>
                    <h2 class="productPrice">@product.productPrice</h2>
                    <img class="barcode" src="@product.labelBarcode" alt="Barcode"/>
                </div>
            }
        }
    </div>
</div>

@code {

    // Input bindings
    private string productName =    string.Empty;

    private string productTPN =     string.Empty;

    private string productEAN =     string.Empty;

    private string productPrice =   string.Empty;

    // List for storing each product inputted. Will have a max size of 10.
    private static List<Product> _products = new();

    private void UpdateInput(ChangeEventArgs e, string fieldName)
    {
        var value = e.Value?.ToString() ?? string.Empty;
        switch (fieldName)
        {
            case nameof(productName):   productName     = value; break;
            case nameof(productTPN):    productTPN      = value; break;
            case nameof(productEAN):    productEAN      = value; break;
            case nameof(productPrice):  productPrice    = value; break;    
        }
    }
    
    

    private async void AddLabel()
    {
        
        Console.WriteLine(productName);
        Console.WriteLine(productTPN);
        Console.WriteLine(productEAN);
        Console.WriteLine(productPrice);
        
        if (_products.Count < 10)
        {
            // Use productTPN + "/" + productEAN as the barcode value
            string barcodeValue = $"{productTPN.Trim()}/{productEAN.Trim()}";
            
            // Generate barcode image
            string barcodeImage = await GenerateBarcode(barcodeValue);
            
            Console.WriteLine($"{barcodeImage}"); // Debug that barcodeImage is generating correctly
            
            // Create new product and add it to the list
            Product product = new Product(productName.Trim(), barcodeImage.Trim(), productPrice.Trim());
            
            Console.WriteLine($"Product Name: {product.productName}");
            Console.WriteLine($"Label Barcode: {product.labelBarcode}");
            Console.WriteLine($"Product Price: {product.productPrice}");
            
            // Add product to the list
            _products.Add(product);
            StateHasChanged(); // Forces UI Update
            
            // Clear user input fields
            productName     = string.Empty;
            productTPN      = string.Empty;
            productEAN      = string.Empty;
            productPrice    = string.Empty;
        }
    }
    private async Task<string> GenerateBarcode(string barcodeValue)
    {
        return await JS.InvokeAsync<string>("generateBarcodeImage", barcodeValue);
    }
}
